*/docs/*
.git
serotonin/scripts/*
!serotonin/scripts/mm2.lua
!serotonin/scripts/Rake-Remastered.lua
!serotonin/scripts/OperationOne.lua
!serotonin/scripts/minesweeper.lua
!serotonin/scripts/roqube.lua